Daylight_lamp_control.json
[{"id":"2fbd6723.64bcf8","type":"tab","label":"Desk lamp controller","disabled":false,"info":""},{"id":"290df2c5.333866","type":"tab","label":"Geocoding","disabled":false,"info":""},{"id":"9ce58c90.06d4c","type":"mqtt-broker","name":"public broker","broker":"io.adafruit.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"af75e08d.c71dc8","type":"ewelink-credentials"},{"id":"ad3e9916.42ff6","type":"ewelink-power-state-write","z":"2fbd6723.64bcf8","name":"Cybernetyki_test","deviceId":"10004092e7","channel":1,"auth":"af75e08d.c71dc8","x":690,"y":380,"wires":[["19338b5c.51455d"]]},{"id":"19338b5c.51455d","type":"debug","z":"2fbd6723.64bcf8","name":"DEBUG (device response)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":380,"wires":[]},{"id":"9f86b509.f08378","type":"http request","z":"2fbd6723.64bcf8","name":"Sunrise_sunset","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":460,"y":160,"wires":[["9824c13a.0213f"]]},{"id":"9824c13a.0213f","type":"function","z":"2fbd6723.64bcf8","name":"get time from json","func":"rise_raw = new Date(msg.payload.results.sunrise);\nset_raw = new Date(msg.payload.results.sunset);\n\nmsg.sunset = set_raw.getTime();\nmsg.sunrise = rise_raw.getTime();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":240,"wires":[["1e4b28cb.5acd37"]]},{"id":"1a1f3909.39e687","type":"switch","z":"2fbd6723.64bcf8","name":"isNowADay?","property":"now","propertyType":"msg","rules":[{"t":"btwn","v":"sunrise","vt":"msg","v2":"sunset","v2t":"msg"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":240,"wires":[["57ec8bc3.307134"],["803dceb5.4fcef"]],"outputLabels":["isDay","isNight"]},{"id":"57ec8bc3.307134","type":"change","z":"2fbd6723.64bcf8","name":"day => off      ","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["648d0e9e.fe0ea8"]]},{"id":"803dceb5.4fcef","type":"change","z":"2fbd6723.64bcf8","name":"night => on","rules":[{"t":"set","p":"data","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":280,"wires":[["648d0e9e.fe0ea8"]]},{"id":"5e5ad786.a645d8","type":"debug","z":"2fbd6723.64bcf8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":160,"wires":[]},{"id":"50a8fedc.c1263","type":"inject","z":"2fbd6723.64bcf8","name":"Time trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["ff47ba46.f1c998"]]},{"id":"648d0e9e.fe0ea8","type":"rbe","z":"2fbd6723.64bcf8","name":"Send only on change","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":880,"y":240,"wires":[["ad3e9916.42ff6","5e5ad786.a645d8"]]},{"id":"7d3eccaa.47ca6c","type":"comment","z":"2fbd6723.64bcf8","name":"Once a day?","info":"This actaully could be triggered once a day","x":450,"y":120,"wires":[]},{"id":"8694dc49.336c58","type":"link in","z":"290df2c5.333866","name":"","links":["ff47ba46.f1c998"],"x":135,"y":160,"wires":[["5ece30d8.cbf418"]]},{"id":"52678bb7.64089c","type":"debug","z":"290df2c5.333866","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":240,"wires":[]},{"id":"ab1edafb.2056b","type":"http request","z":"290df2c5.333866","name":"API request","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":160,"wires":[["cad80cb.a46f7f"]]},{"id":"5ece30d8.cbf418","type":"function","z":"290df2c5.333866","name":"Construct API url. Address => (lat/lng)","func":"global.set(\"address\",msg.payload.address || global.get(\"address\") || \"Cybrenetyki+2b,Warszawa\")\nmsg.url = \"http://www.mapquestapi.com/geocoding/v1/address?key=0uAgdlKGSNFLsgrObSDYjGZadH4csUJQ&location=\"+global.get(\"address\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":160,"wires":[["ab1edafb.2056b"]]},{"id":"cad80cb.a46f7f","type":"change","z":"290df2c5.333866","name":"set lat&lng","rules":[{"t":"set","p":"latitude","pt":"global","to":"payload.results[0].locations[0].latLng.lat","tot":"msg"},{"t":"set","p":"longitude","pt":"global","to":"payload.results[0].locations[0].latLng.lng","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["99cfc26e.3df8c","52678bb7.64089c"]]},{"id":"99cfc26e.3df8c","type":"link out","z":"290df2c5.333866","name":"","links":["f528d06d.d985d"],"x":875,"y":160,"wires":[]},{"id":"ff47ba46.f1c998","type":"link out","z":"2fbd6723.64bcf8","name":"","links":["8694dc49.336c58"],"x":75,"y":120,"wires":[]},{"id":"f528d06d.d985d","type":"link in","z":"2fbd6723.64bcf8","name":"","links":["99cfc26e.3df8c"],"x":295,"y":120,"wires":[["4cff9b4b.550f0c"]]},{"id":"4cff9b4b.550f0c","type":"function","z":"2fbd6723.64bcf8","name":"Construct API url (sunrise/set time)","func":"msg.url = \"https://api.sunrise-sunset.org/json?lat=\"+global.get(\"latitude\")+\"&lng=\"+global.get(\"longitude\")+\"&formatted=0\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":40,"wires":[["9f86b509.f08378"]]},{"id":"9871956.b7da6e8","type":"http in","z":"290df2c5.333866","name":"","url":"/location","method":"get","upload":false,"swaggerDoc":"","x":70,"y":240,"wires":[["bce5de76.4f1af8","c5ef0f7.ec4fd7","5ece30d8.cbf418"]]},{"id":"bce5de76.4f1af8","type":"debug","z":"290df2c5.333866","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":240,"wires":[]},{"id":"88beabe9.5e3f3","type":"http response","z":"290df2c5.333866","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":550,"y":300,"wires":[]},{"id":"c5ef0f7.ec4fd7","type":"template","z":"290df2c5.333866","name":"html basic template with input","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n    <h1>Type your city here:</h1>\n    \n    <form action= \"/location\">\n        <label for=\"address\">Address:</label>\n        <input type=\"text\" id=\"address\" name=\"address\"><br>\n    </form>\n</body>","output":"str","x":330,"y":300,"wires":[["88beabe9.5e3f3"]]},{"id":"1e4b28cb.5acd37","type":"change","z":"2fbd6723.64bcf8","name":"Set current time","rules":[{"t":"set","p":"now","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["1a1f3909.39e687"]]},{"id":"620cc3f7.b9dc84","type":"comment","z":"2fbd6723.64bcf8","name":"Send the payload to the device (on/off)","info":"","x":630,"y":440,"wires":[]},{"id":"c73d12f.669687","type":"comment","z":"2fbd6723.64bcf8","name":"Geocoding flow","info":"","x":180,"y":120,"wires":[]}]